:root {
  --primary: #01a3f4;
  --secondary: #feeb1a;
  --primary-light: #FFE8E5;
  --gray: rgba(255, 255, 255, .8);
  --gray-light: #F8F5F2;
  --gray-light-2: #F1F1F1;

  --font-family: "outfit-reg", sans-serif;
  --section-padding: clamp(40px, 7vw, 80px) 0;
  --heading-color: white;
}